.herowrapper {
  /* background-color: gainsboro; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  min-height: calc(100vh - 126px);
  box-sizing: border-box;
  display: flex;
  align-items: end;
  justify-content: center;
}
.inmain{
    /* background-color: red; */
    overflow: hidden;
}
.main h1 {
  font-family: twogood;
  font-size: 15vmax;
  text-transform: uppercase;
  line-height: 105%;
  vertical-align: bottom;
  /* padding: 0px 0px 0px 20px; */
  opacity: 1;
  letter-spacing: -.5rem;
}

.mainvideo{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.video video{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.hoverelement{
    height: 10vw;
    width: 10vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    color: white;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 55px;
    box-sizing: border-box;
    opacity: 0;
    scale: 0;
    left: -70px;
    bottom:50px;
    
}


@media only screen and (max-width: 600px) {
    .herowrapper{
        min-height: 0;
        justify-content: flex-start;
        gap: 10px;
    }
      .main{
        min-height: 30vh;
        align-items: flex-start;
      }
      .main h1 {
        font-size: 3.8rem;
        padding: 30% 0px 0px 2.5%;
        letter-spacing: -7%;
      }
    }