.hovernav{
min-width: 100%;
background-color: black;
box-sizing: border-box;
transition: all ease 1s;
z-index: 1;
color: white;
display: flex;
justify-content: space-between;
}
.mainhovernav{
  overflow: hidden;
  min-width: 100%;
min-height: 100vh;
background-color: black;
box-sizing: border-box;
transition: all ease 1s;
position: absolute;
top: -110%;
left: 0;
z-index: 1;
color: white;
display: flex;
flex-direction: column;
padding: 20px 25px;
}
.navcontents{
  width: 100%;
  min-height: 80vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.foooter{
  width: 100%;
  display: flex;
  background-color: transparent;
}
.main{
  background-color: transparent;
  width: 80%;
}

.mainitems{
  background-color: transparent;
  width: 100%;
}
.wrap{
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.mainitems h3{
  background-color: transparent;
  font-family: twogood;
  text-transform: uppercase;
  font-size: 250%;
  text-align: end;
  cursor: pointer;
}

.mainitems h3:hover{
  color: grey;
}
.items{
  width: 33%;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}
.items h1{
  background-color: transparent;
  text-transform: uppercase;
  font-family:Helvetica, sans-serif;
  font-size: 80%;
  font-weight: 100;
  text-align: center;
  color: grey;

}
.itemwrap{
  min-height: 35%;
  min-width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 10px 30px;
}
.lists{
  background-color: transparent;
  box-sizing: border-box;
  padding: 20px 0px;
}
.lists h3{
  background-color: transparent;
  text-transform: capitalize;
  font-family:Helvetica, sans-serif;
  font-size: 85%;
  font-weight: 100;
  box-sizing: border-box;
  padding: 2px 0px;
  
}
.hoverleft{
  
  color: white;
  background-color: black;
}
.hoverleft h1{
  color: white;
  background-color: black;
  font-family: twogood;
  font-size: 200%;
  line-height: 87%;
  text-transform: uppercase;
}
.hoverright{
  color: white;
  background-color: black;
  display: flex;
  gap: 5vw;
  padding: 1vw 0vw;

}
.hovernavlinks{
  color: white;
  background-color: black;
  display: flex;
  gap: 4vw;
}
.hovernavlinks h3{
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  /* background-color: yellow; */
  padding: 0.5vw 0vw 0vw 0vw;
  color: white;
  background-color: black;
  cursor: pointer;
  overflow: hidden;
}
.hovernavlinks h3::after{
  content: "";
  height: 1%;
  width: 0%;
  background-color: white;
  position: absolute;
  bottom: 35px;
  left: 0px;
  transition: all ease .5s;
}

.hovernavlinks h3:hover::after {
  width: 100%;
}
.hovercartsection{
  color: white;
  background-color: black;
  display: flex;
  gap: 5vw;
 

}
.hovercartsection i{
  font-weight: 100;
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}
.navwrapper {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.left h1 {
  font-family: twogood;
  font-size: 200%;
  line-height: 87%;
  text-transform: uppercase;
}
.right {
  display: flex;
  gap: 5vw;
  padding: 1vw 0vw;
}
.right h3 {
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  /* background-color: yellow; */
  padding: 0.5vw 0vw 0vw 0vw;
  
  cursor: pointer;
overflow: hidden;
}
.right h3::after{
  content: "";
  height: 1%;
  width: 0%;
  background-color: black;
  position: absolute;
  bottom: 35px;
  left: 0px;
  transition: all ease .5s;
}

.right h3:hover::after {
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 4vw;
}
.right i {
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}
.cartsection {
  gap: 5vw;
  display: flex;
}


@media only screen and (max-width: 875px) {
  body{
    margin: auto;
  }
  .right h3 {
    display: none;
  }
  .hoverright h3{
    display: none;
  }
  .navcontents{
    flex-direction: column-reverse;
    align-items: end;
  }
  .mainhovernav{
    top: -150%;
  }
  .items{
  justify-content: start;
    width: 100%;
  }
  .itemwrap{ 
  font-size: 80%;
  }
  .mainitems h3{
  font-size: 230%;
  }
}
