.hovernav{
min-width: 98.75vw;
min-height: 100vh;
background-color: black;
box-sizing: border-box;
transition: all ease 1s;
position: absolute;
top: -100vh;
left: 0;
z-index: 1;
color: white;
display: flex;
justify-content: space-between;
padding: 20px 25px;
}
.mainhovernav{
  overflow: hidden;
}

.hoverleft{
  
  color: white;
  background-color: black;
}
.hoverleft h1{
  color: white;
  background-color: black;
  font-family: twogood;
  font-size: 200%;
  line-height: 87%;
  text-transform: uppercase;
}
.hoverright{
  color: white;
  background-color: black;
  display: flex;
  gap: 5vw;
  padding: 1vw 0vw;

}
.hovernavlinks{
  color: white;
  background-color: black;
  display: flex;
  gap: 4vw;
}
.hovernavlinks h3{
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  /* background-color: yellow; */
  padding: 0.5vw 0vw 0vw 0vw;
  color: white;
  background-color: black;
  cursor: pointer;
  overflow: hidden;
}
.hovercartsection{
  color: white;
  background-color: black;
  display: flex;
  gap: 5vw;
 

}
.hovercartsection i{
  font-weight: 100;
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}
.navwrapper {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.left h1 {
  font-family: twogood;
  font-size: 200%;
  line-height: 87%;
  text-transform: uppercase;
}
.right {
  display: flex;
  gap: 5vw;
  padding: 1vw 0vw;
}
.right h3 {
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  /* background-color: yellow; */
  padding: 0.5vw 0vw 0vw 0vw;
  
  cursor: pointer;
overflow: hidden;
}
.right h3::after{
  content: "";
  height: 1%;
  width: 0%;
  background-color: black;
  position: absolute;
  bottom: 35px;
  left: 0px;
  transition: all ease .5s;
}

.right h3:hover::after {
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 4vw;
}
.right i {
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}
.cartsection {
  gap: 5vw;
  display: flex;
}


@media only screen and (max-width: 875px) {
  body{
    margin: auto;
  }
  .right h3 {
    display: none;
  }
  .hoverright h3{
    display: none;
  }
}
